/* src/css/Navbar.css */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #00a8a8;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.navbar-logo a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.navbar-links li a:hover {
  text-decoration: underline;
}
